.cardProduct {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: $productColor;
  color: $textColor;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  .imageCartProduct {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85%;
    .Carousel {
      width: 100%;
      height: 100%;
      padding-top: 10px;
      .rec.rec-arrow {
        display: none;
      }
    }
    .img {
      width: 100%;
      height: 250px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }

  .titlePrice {
    width: 100%;
    height: 15%;
    font-weight: bold;
    padding: 10px;
    @include display(flex, flex-end, space-between);

    span {
      font-weight: normal;
      color: $textColorTotal;
      font-size: 13px;
    }
  }
}

.star,
.like {
  z-index: 100000;
  top: 20px;
  right: 20px;
  position: absolute;
  @include glass(70px, 40px, 50px, 17px);
  @include display(flex, center, center);
  p {
    font-size: 14px;
    margin-left: 3px;
  }
}
.like {
  cursor: pointer;
  left: 20px;
  @include glass(40px, 40px, 100%, 20px);
}

menu {
  position: fixed;
  overflow: hidden;
  font-size: 20px;
  margin-top: 105px;
  min-width: 67px;
  @include display(flex, center, space-evenly);
  flex-direction: column;
  height: 80vh;
  background-color: $navbarColor;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  .itemMenu {
    cursor: pointer;
    @include display(flex, center, center);
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 25px #eaeaea;
    background: $navbarColor;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  a {
    color: $textColor;
    .likeIconMenu {
      position: relative;
      display: flex;
      text-decoration: none;
      p {
        position: absolute;
        top: -7px;
        left: 14px;
        @include display(flex, center, center);
        width: 15px;
        height: 15px;
        background: $bgColorDark;
        color: $textColorDark;
        font-size: 10px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
      }
    }
  }
}

.singlePage {
  grid-column: 1/3;
  grid-row: 1/3;
  @include display(flex, flex-start, space-evenly);
  flex-wrap: wrap;
  padding-top: 150px;
  .rec.rec-arrow {
    display: none;
  }
  .imgSingleProduct {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .sliderSingleProducts {
    position: relative;
    min-width: 40%;
    width: 350px;
    height: 260px;
    margin: 0px 0 0 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .Information {
    @include display(flex, flex-start, space-between);
    flex-direction: column;
    width: 300px;
    height: 77%;
    min-width: 40%;
    color: $textColor;
    div {
      @include display(flex, flex-start, flex-start);
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid $textColorTotal;
      span {
        color: $textColorTotal;
      }
      p {
        margin-left: 40px;
      }
    }
  }
}

.sortIcon {
  display: none;
}

@media screen and (max-width: $breakpoint-singleProduct) {
  .singlePage {
    padding-top: 30px;
    .Information {
      height: 50%;
    }
  }
  menu {
    width: 100%;
    grid-column: 1/3;
    flex-direction: row;
    height: 10vh;
    bottom: 0px;
    z-index: 5000000;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }
  .login {
    input {
      width: 70vw !important;
    }
  }
  .profile {
    div {
      width: 90% !important;
    }
  }
  .sortIcon {
    @include display(flex, flex-start, center);
    display: flex;
    width: 50px;
    height: 50px;
    color: $textColor;
    font-size: 25px;
    margin-right: 20px;
  }
  .filter {
    padding-right: 0px !important;
    select {
      width: 100% !important;
    }
  }
}

.selectFilterMobile {
  @include display(flex, flex, space-evenly);
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  position: absolute;
  background: $navbarColor;
  top: 70px;
  width: 100%;
  height: 22vh;
}

.signUp {
  cursor: pointer;
  font-size: 17px;
  color: $textColor;
  div {
    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }
  }
}

.login {
  width: 100vw;
  height: 100vh;
  @include display(flex, flex-end, center);
  form {
    @include display(flex, center, space-evenly);
    height: 88%;
    flex-direction: column;
    .btnSgn {
      @include display(flex, center, center);
      flex-direction: column;
      width: 70%;
      height: 20%;
      .btn {
        color: $textColor;
        width: 100%;
        background-color: transparent;
        border: 2px solid #ccc;
        font-size: 16px;
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
      p {
        color: $textColor;
      }
    }
  }
  input {
    color: $textColor;
    font-size: 20px;
    width: 50vw;
    background: transparent;
    border-bottom: 2px solid $color;
  }
}

.profile {
  @include display(flex, center, center);
  width: 100vw;
  height: 100vh;
  color: $textColor;
  div {
    @include display(flex, flex, space-around);
    flex-direction: column;
    width: 55%;
    height: 75%;
    .imgUser {
      position: relative;
      @include display(flex, center, center);
      width: 100%;
      .isAdmin {
        position: absolute;
        top: 60%;
        left: 52%;
        z-index: 10500400;
        font-size: 30px;
      }
    }
    .aboutUser {
      width: 100%;
    }
    p {
      border-bottom: 1px solid $color;
    }
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  a {
    color: $textColor;
    border-bottom: 1px solid $textColor;
  }
}

.logOut {
  cursor: pointer;
  color: $textColor;
}
.error {
  color: $textColor;
}

.notLikeItem {
  position: absolute;
  @include display(flex, center, center);
  width: 90%;
  height: 70%;
  font-size: 20px;
  color: $textColor;
}

.load {
  position: fixed;
  z-index: 10;
  width: 100%;
  opacity: 0.9;
  @include display(flex, center, center);
  height: 100vh;
  background: #1d1e2c;
}

.spin-loading {
  height: 70px;
  width: 70px;
  border: 6px solid #3fc1c936;
  display: inline-block;
  border-top-color: #fc5185;
  animation: 1.5s spin infinite ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: 1.5s spin infinite ease-in-out;
}

.dot-loading {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.dot-loading > div {
  height: 24px;
  width: 24px;
  background: #fc5185;
  animation: 1.5s bounce infinite ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: 1.5s bounce infinite ease;
}

.dot-loading .dot2 {
  animation-delay: 150ms;
}

.dot-loading .dot3 {
  animation-delay: 300ms;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    background: #3fc1c9;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  40% {
    background: #fc5185;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.iconFilter {
  color: $textColor;
}
