$navbarColor: #fff;
$color: #000;
$bgColor: #f4f4f4;
$productColor: #fff;
$textColor: #000;


$navbarColorDark: #1b1f24;
$colorDark: #fff;
$bgColorDark: #121418 ;
$productColorDark: #1b1f24;
$textColorDark: #fff;
